/*BARedmond*/

html{
    margin: 0px;
    padding: 0px;
}

body
{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3{
    font-size: 40px;
    margin: 0px;
    text-align: center;
}

h1 {
    padding: 40px 0;
}

h2, #introText{
    font-size: 24px;
    text-align: center;
    padding: 20px 0;
}

h3 {
    font-size: 24px;
    padding: 10px 0 0 0;
}

#introText{
    padding: 0 0 20px 0;
}
p{
    font-size: 20px;
}

nav{
    background-color: gray;
    display: flex;
    height: 5vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d7f9f1;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: right;
}

    li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover:not(.active) {
            background-color: #7aa095;
            
        }

.active {
    background-color: #7aa095;
}

scroll-page, #about, #home-build, #projects {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    padding: 0 10vw 0 10vw;
}

#about{
    justify-content: center;
    background-color: #efbc9b;
    min-height: 95vh;
    flex-wrap: nowrap;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.framed {
    border: 8px double var(--brand-gold);
    padding: 4px;
    /* background-color: var(--brand-gold); */
    box-shadow: inset 0 0 10px #ccc;
}

.homebuildpics {
    min-width: 320px;
    width: 30vw;
    height: auto;
   
}

#home-build {
    justify-content: center;
    background-color: #f1f1f1;
    flex-wrap: wrap;
    align-items: center;
}

#projects {
    justify-content: center;
    background-color: #f0e3da;
    flex-wrap: wrap;
    align-content: center;
}

main-content{
    background-color: lightgreen;
    padding: 20px;
}

footer {
    background-color: #7aa095;
    display: flex;
    height: 5vh;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.flex-projects {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80vw;
    min-width: 400px;
    align-items: center;
}

.flex-projects-page {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80vw;
    min-width: 400px;
    align-items: center;
}

.flex-container > div {
   /* background-color: #f0e3da;*/
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30vw;
    min-width: 400px;
}

.portfolio, .portfolio-page {
    width: 100%;
    height: auto;
    display: flex;
}

.portfolio-page {
    width: 40%;
    padding: 10px 10px;
    min-width: 400px;
   
}

.portfolio-page-1 {
    width: 25%;
    padding: 10px 10px;
    min-width: 200px;
}

.vertical_pics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#profile_pic{
    width: fit-content;
}

.project-module, .project-module-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 0;
}

.project-module-1 {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0 0 30px 0;
    scroll-margin-top: 40px;
}


.button1 {
    background-color: #7aa095;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 40px 0;
    cursor: pointer;
    border-radius: 10px;
}

.background {
   background-color: #f0e3da;
}